/* colors */
:root {
  --grey: #373737;
  --light-beige:#FFF3E3;
  --blue: #589CF6;
  --red: #FD6767;
  --yellow: #E6B74F;
  --green: #5DDBB1;
  --light-blue: #C5DEFF;
}

.logo-button {
  border: none;
  border-width: 0;
}

/* Intro page */
.intro {
  background-color: var(--light-beige);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.intro-window {
  background-color: white;
  min-width: 75vw;
  height: 40vh;
  border: 1px solid black;
  box-shadow: 1vmin 1vmin 0px #FD676775;
}

.intro-header {
  background-color: var(--blue);
  height: 6vh;
  border-bottom: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  font-family: Metropolis-SemiBoldItalic;
  font-size: 3vmin;
  color: #ffffff;
  padding-left: 20px;
}

.heading {
    font-family: Metropolis-Black;
    font-size: calc(16px + 5.5vmin);
    color: var(--grey);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 34vh;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: -0.5px;
    align-items: center;
    text-align: center;
}

.button {
  border-radius: 12px;
  border-width: 0;
  height: 7vmin;
  font-family: Metropolis-Black;
  font-size: 3.5vmin;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-text {
  align-items: center;
  justify-content: center;
  vertical-align: center;
  line-height: 4.5vmin;
  color: white;
  padding-left: 0.25vmin;
  padding-right: 0.25vmin;
  display: inline-block;
}

.button-text-two {
  align-items: center;
  justify-content: center;
  vertical-align: center;
  line-height: 4.5vmin;
  color: white;
  margin-left: 5px;
  margin-right: 5px;;
  padding-top: 0.375vmin;
  display: inline-block;
}

.window-icon {
  height: 3.5vmin;
  width: 3.5vmin;
  border-radius: 8px;
  border: 1px white solid;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 3vmin;
  font-family: Metropolis-SemiBold;
}

.exit {
  background-color: var(--red);
  margin-right: 5px
}

.minimize {
  background-color: var(--yellow);
  margin-right: 5px
}

.full-screen {
  background-color: var(--green);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.github {
  background-color: var(--red);
  padding-left: 2vmin;
  padding-right: 2vmin;
  transition: background-color 0.5s;
}

.github:hover {
  background-color: #C54F4F;
}

.behance {
  background-color: var(--green);
  padding-left: 2vmin;
  padding-right: 2vmin;
  transition: background-color 0.5s;
}

.email {
  background-color: var(--yellow);
  padding-left: 2vmin;
  padding-right: 2vmin;
  transition: background-color 0.5s;
}

.other-works {
  background-color: var(--green);
  padding-left: 2vmin;
  padding-right: 2vmin;
  transition: background-color 0.5s;
}

.other-works:hover {
  background-color: #469f81;
}

.email:hover {
  background-color: #927536;
}

.behance:hover {
  background-color: #469f81;
}

.icon {
  width: 4.5vmin;
  height: 4.5vmin;
}

.intro-text {
  padding: 1vmin;
}

.line-break {
  height: 1.5vmin;
}

.linkedin{
  background-color: var(--blue);
  padding-left: 2vmin;
  padding-right: 2vmin;
  transition: background-color 0.5s;
}

.linkedin:hover {
  background-color: #3c6ba8;
}

.padding-horizontal {
  padding-left: 5vmin;
  padding-right: 5vmin;
}

.horizontal-display {
  display: flex;
  flex-direction: row;
}

.intro-subheading {
  padding-top: 10;
  font-family: Metropolis-SemiBoldItalic;
  font-size: calc(0.7vh + 1vw);
  background-color: var(--yellow);
  border-radius: 12px;
  height: 7.5vmin;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  letter-spacing: normal;
  padding-right: 2vmin;
  padding-left: 2vmin; 
  text-align: center;
}

.small-right-spacing {
  padding-right: 1vmin;
}

.small-top-spacing {
  padding-top: 4vmin;
}

.small-bottom-spacing {
  padding-bottom: 1vmin;
}

.welcome {
  padding-left: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Navigation tab */
.logo {
  height: 60px;
  padding-top: 2.5px;
  padding-left: 25px;
  position: relative; 
  float: left;
}

.left-align {
  justify-content: flex-start;
  text-align: left;
}

.topbar {
  position: fixed;
  display: block;
  float: left;
  width: 100%;
  background-color: var(--grey);
  top: 0;
}

.navigation-bar {
  overflow: hidden;
  top: 0;
  background-color: var(--grey);
  position: relative; /* Set the navbar to fixed position */
  display: flex;
  justify-content: right;
  flex-direction: row;
}

.navigation-link {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
  font-family: Metropolis-SemiBold;
  font-size: 19px;
  transition: color 0.5s;
}

@media screen and (max-width: 1024px) {
  .navigation-link {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-family: Metropolis-SemiBold;
    font-size: 16px;
  }

  .logo {
    display: none;
  }
  
}

.navigation-link:hover {
  color: var(--blue);
}

.semibold-font {
  font-family: Metropolis-SemiBold;
}

/* About */
.about {
  background-color: var(--light-beige);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/* Phone */
.phone {
    background-color: var(--grey);
    width: 40vh;
    height: 80vh;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    overflow-y: scroll;
}

.screen {
  background-color: var(--light-blue);
  width: 38.5vh;
  height: 78.5vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 20px;
  overflow-y: scroll;
}

.island {
  width: 100%;
  border-collapse: collapse;
  border: none;
  border-width : 0;
  border : 0;
  height: 1vh;
}

.camera {
  width: 50%;
  background-color: var(--grey);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.chat-window {
  height: 71.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1vh;
  overflow-y: scroll;
}

.input {
  height: 6vh;
  background-color: white;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  border-top: 1.5px;
  border-top-style: solid;
  border-top-color: #37373750;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: center;
}

.reach-email {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  font-family: Metropolis-LightItalic;
  padding-right: 10px;
  margin-bottom: 3px;
  margin-left: 20px;
  font-size: 1.5vh;
  color: #37373790;
}

.chat-bubble {
  overflow-wrap: break-word;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font-family: Metropolis-Light;
  font-size: 1.5vh;
  text-align: left;
  line-height: 1.25;
}

.chat-bubble-spacing {
  width: 100%;
  height: 10px;
  background-color: var(--light-blue);
}

.chat-icon {
  --width-object: calc(2vh + 3vw);  
  border-radius: calc(var(--width-object)/2);
  width: var(--width-object);
  margin-top: 12.5px;
}

.chat-icon-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-right: 5px;
}

.display-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-family: Metropolis-SemiBold;
  font-size: min(calc(1vh + 1vw), 13px);
  padding-bottom: 5px;
  color: var(--grey);
}

/* Mini Gallery */

.exhibit {
  width: 20%;
  margin-right: 5px;
  margin-bottom: 2.5px;
  margin-top: 2.5px
}

/* Gallery portfolio */

.gallery-image {
  width: min(200px, calc(9vh + 9vw));
  height: auto;
  padding: 5px;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.center-vertical-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.very-small-top-spacing {
  padding-top: 1.5vmin;
}

.very-small-right-spacing {
  padding-right: 1.5vmin;
}

.margin-horizontal {
  margin-right: 5vmin;
  margin-left: 5vmin;
}

.vertical-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.vertical-display-left-align {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.projects {
  background-color: var(--light-beige);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.gallery-button {
  border-radius: 10px;
  border-width: 0;
  background-color: var(--blue);
  font-size: 3vmin;
  text-align: center;
  cursor: pointer;
  height: 6vmin;
  padding-right: 15px;
  padding-left: 15px;
  font-family: Metropolis-Black;
  transition: background-color 0.5s;
}

.gallery-button:hover {
  background-color: #3c6ba8;
}

.gallery-text {
  color: #FFFFFF;
  line-height: 4.5vmin;
}

/* Project container */
.project-container {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: var(--grey);
  border-radius: 20px;
  width: 75vmin;
  height: auto;
  padding: 2.15vmax;
  box-shadow: 1vmin 1vmin 0px #589CF675;
}

/* phone */
.project-container-two {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: var(--grey);
  border-radius: 20px;
  width: 85vmin;
  height: auto;
  padding: 2.15vmax;
  box-shadow: 1vmin 1vmin 0px #589CF675;
}

/* tablet */
.project-container-three {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: var(--grey);
  border-radius: 20px;
  width: 65vmin;
  height: auto;
  padding: 2.15vmax;
  padding-bottom: 4vmax;
  box-shadow: 1vmin 1vmin 0px #589CF675;
}

.app-icon {
  --constant-size: 10vmax;
  height: var(--constant-size);
  width: var(--constant-size);
  border-radius: calc(var(--constant-size) / 4);
}

.app-icon-two {
  --constant-size: 7.5vmax;
  height: var(--constant-size);
  width: var(--constant-size);
  border-radius: calc(var(--constant-size) / 5);
  margin-top: 10px;
  margin-right: 10px;
}

.app-heading {
  font-family: Metropolis-Bold;
  font-size: min(4.5vmin, 30px);
  color: var(--grey);
  padding-bottom: 0.75vmin;
}

.app-subheading {
  font-family: Metropolis-SemiBold;
  font-size: calc(2vmin);
  color: var(--grey);
  opacity: 50%;
  padding-bottom: 0.75vmin;
}

.app-subheading-two {
  font-family: Metropolis-SemiBold;
  font-size: calc(1.75vmin);
  color: var(--grey);
  opacity: 50%;
  padding-bottom: 0.75vmin;
}

.full-opacity {
  opacity: 1;
}

.app-left-spacing {
  padding-left: 2vmin;
}

.get-button {
  --constant-size: calc(1.75vmin);
  background-color: var(--blue);
  color: white;
  font-family: Metropolis-Black;
  border-width: 0;
  padding-top: 0.5vmin;
  padding-bottom: 0.5vmin;
  padding-right: 1.5vmin;
  padding-left: 1.5vmin;
  border-radius: calc(var(--constant-size) * 2);
  font-size: var(--constant-size);
  margin-right: 5px;
  cursor: pointer;
  transition: 0.5s background-color;
}

.get-button:hover {
  background-color: #3c6ba8;
}

.website-button {
  --constant-size: calc(1.75vmin);
  background-color: var(--red);
  color: white;
  font-family: Metropolis-Black;
  border-width: 0;
  padding-top: 0.5vmin;
  padding-bottom: 0.5vmin;
  padding-right: 1.5vmin;
  padding-left: 1.5vmin;
  border-radius: calc(var(--constant-size) * 2);
  font-size: var(--constant-size);
  margin-right: 5px;
  cursor: pointer;
  transition: 0.5s background-color;
}

.website-button:hover {
  background-color: #C54F4F;
}

.repo-button {
  padding-top: 0.5vmin;
  border: none;
  border-width: 0px;
  background-color: transparent;
  cursor: pointer;
}

.git-repo-img {
  border-radius: 3px;
  background-color: var(--grey);
  opacity: 0.5;
  transition: 0.5s opacity;
}

.repo-button:hover .git-repo-img {
  opacity: 1;
}

.app-techstack {
  padding-top: 2vmin;
  font-family: Metropolis-Bold;
  font-size: calc(1.5vmin);
  color: var(--grey);
  opacity: 40%;
  padding-bottom: 0.5vmin;
  text-align: left;
  line-height: 1.15;
}

.grid-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: transparent;
  border-radius: 50px;
  column-gap: 1px;
  margin-bottom: 15px;
}

.grid-button {
  display: grid;
  place-items: center stretch;
}

.project-bar-button {
  border: none;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--grey);
  color: white;
  font-family: Metropolis-SemiBold;
  cursor: pointer;
  transition: background-color ease-in 0.5s;
  font-size: 2vmin;
}

.project-bar-button:hover {
  background-color: var(--blue);
}

.project-bar-button:focus {
  background-color: var(--blue);
  outline: none;
}

.leftmost {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.rightmost {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.app-body {
  display: flex;
  justify-content: flex-start;
}

.paragraph-heading {
  font-family: Metropolis-Bold;
  font-size: 1.75vmin;
  color: var(--grey);
  text-align: justify;
  padding-bottom: 7.5px;
}

.mobile-paragraph-heading {
  font-family: Metropolis-Bold;
  font-size: 2vmin;
  color: var(--grey);
  text-align: justify;
  padding-bottom: 7.5px;
}

.paragraph-content {
  font-family: Metropolis-Regular;
  font-size: 1.625vmin;
  color: var(--grey);
  text-align: justify;
  line-height: 1.25;
  padding-bottom: 15px;
}

.paragraph-content-2 {
  font-family: Metropolis-Regular;
  font-size: 1.5vmin;
  color: var(--grey);
  text-align: justify;
  line-height: 1.25;
  padding-bottom: 15px;
}

.mobile-paragraph-content {
  font-family: Metropolis-Regular;
  font-size: 2vmin;
  color: var(--grey);
  text-align: justify;
  line-height: 1.25;
  padding-bottom: 15px;
}

.ul-indentation {
  padding-left: 25px;
}

.newest-project {
  width: 100%;
  height: auto;
  border-radius: 20px;
  padding-top: 5px;
}

.transparent-button {
  border: none;
  border-width: 0px;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.back-button {
  color: var(--blue);
  font-family: Metropolis-SemiBold;
  font-size: 1.75vmin;
}

.link-color {
  color: var(--blue);
}

.dark-link-color {
  color: #3c6ba8;
}

.footer {
  background-color: var(--light-beige);
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-text-container {
  background-color: white;
  font-size: 1.75vmin;
  font-family: Metropolis-SemiBold;
  padding-left: 2.5vmin;
  padding-right: 2.5vmin;
  padding-top: 0.5vmin;
  padding-bottom: 0.5vmin;
  color: var(--grey);
  border-radius: 50px;
  border: solid 0.25vmin var(--blue);
  box-shadow: 0.5vmin 0.5vmin 0px #FD676775;
}